

$light-blue: #00B0FF;
$blue-hover: #0A23FB;
$yellow: #F2D800;
$black: #000000;
$grey: #A0A0A0;
$light-blue-hover: #B3E7FF;
$white: #fff;
$dark-grey: #4D4D4D;


$font-monse: 'Montserrat', sans-serif;
$font-play: 'Playfair Display', serif;
$font-rale: 'Raleway', sans-serif;
